.aside {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 70px;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "CircularStd", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.125rem;
  color: var(--terciary-color);
}

.page img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  flex-shrink: 0;
}

.isOnPage {
  color: var(--secundary-color);
}

.playlist {
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #282828;
}

.list {
  display: flex;
  gap: 20px;
  color: var(--terciary-color);
  align-items: center;
}

.list img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  flex-shrink: 0;
}

.mixes {
  color: var(--terciary-color);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  gap: 18px;
  margin-top: 21px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mixes::-webkit-scrollbar {
  display: none;
}

.aside > picture {
  align-self: flex-end;
  width: calc(100% + 50px);
  margin-left: -30px;
  margin-right: -20px;
  height: 310px;
  display: block;
}

picture > img {
  align-self: center;
  width: 100%;
  height: 100%;
}