.library {
  display: grid;
  grid-template-rows: 1fr 112px;
  grid-template-columns: 310px 1fr;
  width: 100vw;
  height: 100vh;
}

.main {
  grid-area: 1 / 2 / 2 / 3;
  background-color: var(--primary-color);
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  padding: 40px;
  gap: 30px;
  box-sizing: border-box;
}

.section {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    color: var(--secundary-color);
    font-size: 2rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 50px;
}

.retangle {
    width: 500px;
    height: 325px;
    background: linear-gradient(
    to bottom right,
    #3822EA 0%,
    #3822EA 30%,
    #A3A6E5 80%,
    #A3A6E5 100%
  );
  border-radius: 8px;
}