.top {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 22px;
}

.arrow {
  color: var(--secundary-color);
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.user {
  display: flex;
  align-items: center;
  color: var(--secundary-color);
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 5px 10px 5px 5px;
}

.user_photo {
  padding: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.user > span {
  font-size: 1.125rem;
}

.search_bar {
  display: flex;
  align-items: center;
  background-color: var(--secundary-color);
  width: 468px;
  height: 40px;
  border-radius: 26px;
}

.btn_search {
  color: var(--primary-color);
  width: 22px;
  height: 22px;
  margin-left: 16px;
}

.input {
  align-items: center;
  font-weight: 300;
  font-size: 1.125rem;
  margin-left: 14px;
  border: none;
  outline: none;
  color: var(--terciary-color);
  width: 80%;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.btn_nav {
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 110px;
  height: 55px;
  color: var(--secundary-color);
  font-size: 1rem;
}

.active_btn {
  background-color: rgb(80, 80, 80);
}